.credit-child,
.credit-item {
  position: absolute;
  top: 0;
  left: 285px;
  background-color: var(--color-black);
  width: 1155px;
  height: 123px;
}
.credit-item {
  top: 883px;
  left: -10px;
  width: 1460px;
  height: 141px;
}
.vector-icon7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.truck-12,
.vector2 {
  text-decoration: none;
  position: absolute;
  height: 29.7%;
  width: 21.73%;
  top: 12.03%;
  right: 21.13%;
  bottom: 58.27%;
  left: 57.14%;
  cursor: pointer;
}
.truck-12 {
  height: 45.11%;
  width: 43.15%;
  top: 4.89%;
  right: 50%;
  bottom: 50%;
  left: 6.85%;
  background-image: url(./public/truck1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-list-53 {
  position: absolute;
  height: 25.98%;
  width: 23.33%;
  top: -0.98%;
  right: 0;
  bottom: 75%;
  left: 76.67%;
  overflow: hidden;
}
.checkbox2 {
  margin: 0;
  position: absolute;
  top: -33px;
  left: 126px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 980px;
  height: 279px;
}
.component-1default-child {
  position: absolute;
  top: calc(50% - 37.5px);
  left: calc(50% - 467px);
  border-radius: var(--br-xl);
  border: 30px solid var(--color-black);
  box-sizing: border-box;
  width: 110px;
  height: 108px;
  display: none;
}
.component-1default {
  position: absolute;
  top: 237px;
  left: 234px;
  width: 694px;
  height: 145px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.image-3-icon1 {
  position: absolute;
  top: 130px;
  left: 0;
  width: 1440px;
  height: 753px;
  object-fit: cover;
}
.checkbox3,
.component-2-child {
  position: absolute;
  height: 100%;
  top: 0;
}
.component-2-child {
  width: 18.97%;
  right: 81.03%;
  bottom: 0;
  left: 0;
  border: 7px solid var(--color-black);
  box-sizing: border-box;
}
.checkbox3 {
  width: 75.4%;
  left: 24.6%;
  display: flex;
  align-items: center;
}
.component-21,
.component-22 {
  position: absolute;
  top: 661px;
  left: 59px;
  width: 379px;
  height: 68px;
  color: #0e0c0c;
}
.component-22 {
  top: 273px;
  width: 367px;
  height: 66px;
  color: #070707;
}
.select-the-type {
  margin: 0;
  position: absolute;
  top: 187px;
  left: 59px;
  font-size: var(--font-size-35xl);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 736px;
  height: 86px;
}
.component-23,
.component-24 {
  position: absolute;
  top: 356px;
  left: 59px;
  width: 368px;
  height: 72px;
}
.component-24 {
  top: 451px;
  width: 378px;
  height: 73px;
}
.component-25,
.searchbar3 {
  position: absolute;
  top: 561px;
  left: 58px;
  width: 379px;
  height: 68px;
}
.searchbar3 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-21xl);
  background-color: transparent;
  height: 44.88%;
  width: 51.88%;
  top: 27.96%;
  left: 4.16%;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
}
.hover-child9 {
  height: 99.06%;
  width: 9.99%;
  top: -1.89%;
  right: 90.38%;
  left: -0.37%;
  border-radius: var(--br-xl);
}
.hover-child10,
.hover-child11,
.hover-child12,
.hover-child9 {
  position: absolute;
  bottom: 2.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hover-child10 {
  height: 99.06%;
  width: 12.85%;
  top: -1.89%;
  right: 0.55%;
  left: 86.59%;
  border-radius: var(--br-xl);
}
.hover-child11,
.hover-child12 {
  height: 3.77%;
  width: 76.97%;
  top: 93.4%;
  right: 13.41%;
  left: 9.62%;
}
.hover-child12 {
  top: -1.89%;
  bottom: 98.11%;
}
.hover6 {
  position: absolute;
  height: 104.95%;
  width: 100.93%;
  top: -2.48%;
  right: -0.47%;
  bottom: -2.48%;
  left: -0.47%;
  border-radius: var(--br-xl);
  border: 5px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.credit-inner,
.hover5,
.hover7 {
  position: absolute;
  top: 273px;
  left: 810px;
  width: 536px;
  height: 101px;
}
.credit-inner,
.hover7 {
  top: 437px;
}
.credit-inner {
  top: 658px;
  left: 833px;
  border-radius: var(--br-xl);
  background-color: var(--color-limegreen-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 406px;
  height: 106px;
  cursor: pointer;
}
.credit3,
.find-out-the {
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.find-out-the {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 676px;
  left: 863px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 348px;
  height: 69px;
}
.credit3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
