.desktop-1-child {
  position: absolute;
  top: 0;
  left: 285px;
  background-color: var(--color-gray-200);
  width: 1155px;
  height: 123px;
}
.shutterstock-1118223128-bb4z25-icon1 {
  position: absolute;
  top: 123px;
  left: 0;
  width: 1444px;
  height: 760px;
  object-fit: cover;
}
.frame14 {
  position: absolute;
  top: 0;
  left: 232px;
  width: 1444px;
  height: 883px;
  overflow: hidden;
}
.frame-item {
  position: absolute;
  top: 883px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 141px;
}
.frame15 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.frame15,
.frame16,
.text1 {
  position: absolute;
}
.text1 {
  height: 86.4%;
  width: 100%;
  top: 13.6%;
  left: 0;
  display: flex;
  align-items: center;
}
.frame16 {
  top: 0;
  left: 44px;
  width: 188.44px;
  height: 110.29px;
  overflow: hidden;
  font-size: var(--font-size-11xl);
}
.trash-talk-lets1 {
  position: absolute;
  top: 924px;
  left: calc(50% - 572.5px);
}
.frame17 {
  position: absolute;
  top: 0;
  left: 148px;
  width: 1145px;
  height: 968px;
  overflow: hidden;
}
.image-4-icon1 {
  position: absolute;
  top: 123px;
  left: 0;
  width: 234px;
  height: 760px;
  object-fit: cover;
}
.frame18,
.instance-child15 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame18 {
  width: 234px;
  height: 883px;
  overflow: hidden;
}
.instance-child15 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-limegreen-100);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
}
.frame-inner1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 571px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 246px;
  height: 70px;
}
.frame19 {
  top: 0;
  left: 117px;
  height: 641px;
  overflow: hidden;
}
.frame-inner2,
.frame19,
.frame20 {
  position: absolute;
  width: 246px;
}
.frame-inner2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 677px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 70px;
}
.frame20 {
  top: 0;
  left: 117px;
  height: 747px;
  overflow: hidden;
}
.location1 {
  position: absolute;
  top: 584px;
  left: calc(50% - 92.5px);
  font-weight: 600;
  cursor: pointer;
}
.frame21 {
  position: absolute;
  top: 0;
  left: 143px;
  width: 185px;
  height: 628px;
  overflow: hidden;
  color: var(--color-gray-200);
}
.credit1 {
  position: absolute;
  top: 690px;
  left: calc(50% - 66px);
  font-weight: 600;
}
.frame22 {
  position: absolute;
  top: 0;
  left: 174px;
  width: 132px;
  height: 734px;
  overflow: hidden;
  text-align: center;
  color: var(--color-gray-200);
}
.frame23,
.welcome1 {
  position: absolute;
  width: 786px;
}
.welcome1 {
  margin: 0;
  top: 168px;
  left: calc(50% - 393px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  -webkit-text-stroke: 3px #000;
}
.frame23 {
  top: 0;
  left: -65px;
  height: 296px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-65xl);
  color: var(--color-palegreen);
  font-family: var(--font-black-han-sans);
}
.fellow-recyclers1 {
  margin: 0;
  position: absolute;
  top: 322px;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 608px;
  height: 65px;
  -webkit-text-stroke: 3px #000;
}
.frame24,
.vector-icon3 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.frame24 {
  top: 0;
  width: 590px;
  height: 438px;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-palegreen);
  font-family: var(--font-happy-monkey);
}
.vector-icon3 {
  height: 78.22%;
  width: 100%;
  top: 21.78%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.frame25 {
  text-decoration: none;
  top: 0;
  left: 1271px;
  width: 73px;
  height: 101px;
}
.frame25,
.frame26,
.truck-1-icon1 {
  position: absolute;
  overflow: hidden;
}
.truck-1-icon1 {
  height: 97.56%;
  width: 100%;
  top: 2.44%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.frame26 {
  top: 0;
  left: 1102px;
  width: 145px;
  height: 123px;
}
.option-13,
.option-27 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.option-13 {
  display: flex;
  align-items: center;
}
.option-27 {
  right: 0;
  bottom: 0;
}
.polygon-icon {
  position: absolute;
  top: calc(50% - 16.75px);
  left: calc(50% + 35.42px);
  width: 57.16px;
  height: 48.75px;
}
.option-26 {
  position: absolute;
  top: 3px;
  left: 0;
  background-color: var(--color-black);
  width: 286px;
  height: 120px;
}
.desktop-1,
.frame27 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.frame27 {
  width: 286px;
  height: 123px;
  font-size: var(--font-size-31xl);
}
.desktop-1 {
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 1024px;
}
.desktop-1-parent {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
